<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>壹物流</title>
		<link href="/stylesheets/mui.min.css" rel="stylesheet" />
		<link href="/stylesheets/style.css" rel="stylesheet" />
		<style>
			.area {
				margin: 20px auto 0px auto;
			}
			.mui-input-group:first-child {
				margin-top: 20px;
			}
			.mui-input-group label {
				width: 30%;
			}
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 70%;
			}
			.mui-checkbox input[type=checkbox],
			.mui-radio input[type=radio] {
				top: 6px;
			}
			.mui-content-padded {
				margin-top: 25px;
			}
			.mui-btn {
				padding: 10px;
			}
			.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
				margin-top: 1px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">输入新密码</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">    
				<div class="mui-input-row">
					<label>新密码</label>
					<input id='new_pass' type="password" class="mui-input-clear mui-input" placeholder="请输入新密码">
				</div>
				<div class="mui-input-row">
					<input id='new_pass_ag' type="password" class="mui-input-clear mui-input" placeholder="确认密码">
				</div>
			</form>
			<div class="mui-content-padded">
				<button id='new_pass_confirm' class="mui-btn mui-btn-block mui-btn-primary">确认</button>
			</div>
		</div>
		<script src="/javascripts/mui.min.js"></script>
		<script src="/javascripts/jquery-1.7.2-min.js"></script>
<!-- 		<script src="/javascripts/app.js"></script> -->
		<script>
		//地址栏参数截取正则
			function GetQueryString(name)
			{
			     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			     var r = decodeURI(window.location.search).substr(1).match(reg);
			     if(r!=null)return  unescape(r[2]); return null;
			}

			var telNumber = GetQueryString("tel_number");
			//确认
			$("#new_pass_confirm").on("tap",function(){
				var new_password = $("#new_pass").val();
				var new_password_ag = $("#new_pass_ag").val();
				console.log(new_password,new_password_ag);
				if (new_password && new_password_ag && new_password == new_password_ag) {
					$.ajax({
					type:"POST",
					url:"/forgetPassword/confirm",
					dataType:"json",
					async:true,
					data:{
						tel_number:telNumber,
						newPassword:new_password
						
					},
					success:function(result){
						console.log(result);
					},
					error:function(err){
						console.log(err);
					}
				});

				} else {
					if (!new_password || !new_password_ag) {
						mui.alert("密码不能为空");
					} else {
						if (new_password != new_password_ag) {
							mui.alert("两次输入的密码不同");
						}
					}
					
				}
				
			});
		</script>
	</body>

</html>