<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>壹物流</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/stylesheets/mui.min.css" rel="stylesheet" />
		<link href="/stylesheets/main.css" rel="stylesheet" />
		<link href="/stylesheets/iconfont.css" rel="stylesheet" />
		<link href="/stylesheets/mui.picker.min.css" rel="stylesheet" />

	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
		    <h1 class="mui-title">壹物流签收系统</h1>
		    <a id="saoyisao" class="mui-icon iconfont icon-shangpintiaomasaomiao mui-pull-right"></a>
		</header>

		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#tabbar">
				<span class="mui-icon mui-icon-chatboxes"><span id="mui-badge" class="mui-badge"></span></span>
				<span class="mui-tab-label">记录</span>
			</a>
			<a class="mui-tab-item" id="tabbar_with_search">
				<span class="mui-icon mui-icon-search"></span>
				<span class="mui-tab-label">查询</span>
				
			</a>
			<a class="mui-tab-item" id="tabbar_with_me">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">我</span>
			</a>
			<a class="mui-tab-item" id="tabbar_with_setting">
				<span class="mui-icon mui-icon-paperplane"></span>
				<span class="mui-tab-label">退货</span>
			</a>
		</nav>

		<div class="mui-content">
			
			<div id="tabbar" class="mui-control-content mui-active">
				<div id="welcome" class="oct_welcome"><span id="storeName"><%= store_name%></span> <label id="contact"><%= contact%></label></div>
				<div class="delivery_scroll" id="deliveryList">
				</div>

				<div class="y_loading_easy" id="j_loadmore"><i class="dot"></i><span>努力加载中...</span></div>
			
			
			<section class="float_to_top" id="float_to_top"></section>
				
			</div>
		    
		</div>
		
		<script src="/javascripts/mui.min.js"></script>
		<script src="/javascripts/jquery-1.7.2-min.js"></script>
		<script src="/javascripts/mui.picker.min.js"></script>
		<script src="/javascripts/time.js"></script>
		
		<script>
		
		$(document).ready(function(){
		
			var storage = window.localStorage;
			
//			$("#saoyisao").click(function(){
//				mui.alert("正在开发中，敬请期待！");
//			});
			//地址栏参数截取正则
			// function GetQueryString(name)
			// {
			//      var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			//      var r = decodeURI(window.location.search).substr(1).match(reg);
			//      if(r!=null)return  unescape(r[2]); return null;
			// }

			var storeName = $("#storeName").html();
			
			$.ajax({
					type:"POST",
					url:"/index",
					dataType:"json",
					async:true, 
					data:{
						pageNo:1,
						pageSize:10,
						storeName: storeName
						
					},
					success:function(result){
							console.log(result);
							var data = result.items
							storage.setItem("delivered_num",result.deliNumber);
							if (data.delivered_num == 0) {
								$("#mui-badge").toggle();
							} else{
								$("#mui-badge").html(result.deliNumber);
							}
							
							//加载物流数据
							$.each(data,function(i){
								var deliv_name = data[i].express_name;
								var deliv_number = data[i].express_number;
								var deliv_time = time2Date(data[i].delivered_time);
						
								var accept_time = data[i].accepted_time;
								var Did = data[i].id;
								
								if (accept_time) {
									accept_time = time2Date(data[i].accepted_time);
									
								}else {
									accept_time = "您还未签收";
									
								}
						
								var contact = data[i].contact;
								var deliv_type = data[i].delivery_type;
								var reStatus = null;						
								// if (data[i].status == "accepted"||data[i].status == "accounted") {
								// 	reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-success goReceive" disabled="disabled">已签收</button></span>';
								// } else {
								// 	if (data[i].status == "delivered") {
								// 		reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-primary goReceive">未签收</button></span>';
								// 	} else if (data[i].status == "waiting") {
								// 		reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-royal goReceive" disabled="disabled">未发货</button></span>';
								// 	}
									
								// }
								switch (data[i].status) 
								{
									case "accepted":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-success goReceive" disabled="disabled">已签收</button></span>';
										break;
									case "accounted":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-warning goReceive" disabled="disabled">已核账</button></span>';
										break;
									case "delivered":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-primary goReceive" disabled="disabled">未签收</button></span>';
										break;
									case "waiting":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-royal goReceive" disabled="disabled">未发货</button></span>';
										break;

								}
								var card_header = '<div class="mui-card-header"><label>' +deliv_name+ '</label><label>单号：<span>' +deliv_number+ '</span></label></div>';
								var card_content = '<div class="mui-card-content"><div class="mui-card-content-inner"><label style="width: 50%; float: left;">发货时间:<br> <span id="delivTime">' +deliv_time+ '</span></label><label style="width: 50%;">收货时间:<br><span id="acceptTime">'+accept_time+'</span></label></div></div>';
								var card_footer = '<div class="mui-card-footer"><label class="mui-card-link" style="color:#000"><label>收货人:&nbsp</label><span id="oct_contact">'+contact+'</span></label><label class="mui-card-link"><input id="U_id" value=" '+Did+'   " type="hidden"></label><label class="mui-card-link"><input id="U_del" value="'+deliv_type+'" type="hidden"></label> '+reStatus+' </div>';
								
								
								var appendCard = '<div class="mui-card">'+card_header+card_content+card_footer+'</a></div>';
								
								$("#deliveryList").append(appendCard);
							});
							
					},
					error:function(data){
						mui.alert(data);
					},
					complete: function() {

					}
				});				
		
		
		/*滚动加载*/
		var stop = true;//防止重复加载
		var i = 2;
		$(window).scroll(function(){
			totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());//浏览器窗口的高度+当前这个页面超出窗口最上端的高度
			if ($(document).height() <= totalheight + 120) {
			if (stop==true) {
				stop=false;
				$("#j_loadmore").addClass('enabled');
				
				$.ajax({
					type:"POST",
					url:"/index",
					dataType:"json",
					data:{
						pageNo:i,
						pageSize:10,
						storeName:storage.storeName
					},
					success:function(result){
						console.log(result);
						var data = result.items;
						// console.log(result.items);
						// console.log(result.items.length);
						if (data.length == 0) {
							$("#j_loadmore").removeClass('enabled');
							var endTips = '<div class="y_loading_easy" style="display: block;" ><span>没有更多了！</span></div>';
							$("#deliveryList").append(endTips);
							return;
						}
						var appendCardM = '';
						$.each(data,function(j){
								
								var deliv_name = data[j].express_name;
								var deliv_number = data[j].express_number;
								var deliv_time = time2Date(data[j].delivered_time);
						
								var accept_time = data[j].accepted_time;
								var Did = data[j].id;
								
								if (accept_time) {
									accept_time = time2Date(data[j].accepted_time);
									
								}else {
									accept_time = "您还未签收";
									
								}
								var contact = data[j].contact;
								var deliv_type = data[j].delivery_type;
								var reStatus=null;

								// if (data[j].status == "accepted"||data[j].status == "accounted") {
								// 	reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-success goReceive" disabled="disabled">已签收</button></span>';
									
									
									
								// }else{
								// 	if (data[j].status == "delivered") {
								// 		reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-primary goReceive">签收</button></span>';
										
								// 	} else if (data[j].status == "waiting") {
								// 		reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-royal goReceive" disabled="disabled">未发货</button></span>';
								// 	}
								// }

								switch (data[j].status) 
								{
									case "accepted":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-success goReceive" disabled="disabled">已签收</button></span>';
										break;
									case "accounted":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-warning goReceive" disabled="disabled">已核账</button></span>';
										break;
									case "delivered":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-primary goReceive" disabled="disabled">未签收</button></span>';
										break;
									case "waiting":
										reStatus = '<span class="mui-card-link"><button type="button" class="mui-btn mui-btn-royal goReceive" disabled="disabled">未发货</button></span>';
										break;

								}
								
								var card_header = '<div class="mui-card-header"><label>' +deliv_name+ '</label><label>单号：<span>' +deliv_number+ '</span></label></div>';
								var card_content = '<div class="mui-card-content"><div class="mui-card-content-inner"><label style="width: 50%; float: left;">发货时间:<br> <span id="delivTime">' +deliv_time+ '</span></label><label style="width: 50%;">收货时间:<br><span id="acceptTime">'+accept_time+'</span></label></div></div>';
								var card_footer = '<div class="mui-card-footer"><label class="mui-card-link" style="color:#000"><label>收货人:&nbsp</label><span id="oct_contact">'+contact+'</span></label><label class="mui-card-link"><input id="U_id" value=" '+Did+'   " type="hidden"></label><label class="mui-card-link"><input id="U_del" value="'+deliv_type+'" type="hidden"></label> '+reStatus+' </div>';
								
								
								appendCardM += '<div class="mui-card"><a href = "#modal">'+card_header+card_content+card_footer+'</a></div>';

						});
						$("#deliveryList").append(appendCardM);
						stop = true;
						$("#j_loadmore").removeClass('enabled');
						i++;
					},
					error:function(data){
						stop = false;
						$("#j_loadmore").remove();
						
					}
				});
				
			}
				
			}
		});
		
		/*跳转详情页*/
		$("#deliveryList").on("tap",".mui-card-header,.mui-card-content",function(){
			//详情页需要id,deliverytype两个属性
			var record_id = $(this).parents().find("#U_id").val();
			// var deli_type = $(this).parents().find("#U_del").val();
//			console.log($(this).closest(".mui-card"));
			// var myCard = $(this).closest(".mui-card");
			// $(".mui-card").each(function(){
			// 	$(this).removeClass("mui-active");
			// });
			// myCard.addClass("mui-active");
			// storage.setItem("delivery_type",deli_type);
			console.log(record_id,typeof(record_id));//注意:这里的id是string类型
			storage.setItem("id",record_id);
			location.href = encodeURI('/detailInfo/list?recordId=' + record_id);
		});
		//签收按钮点击事件
		mui("#deliveryList").on("tap",".goReceive",function() {
			console.log($(this));
			var receiced_Btn = $(this);
			var deliv_time = $(this).closest(".mui-card").find("#delivTime").text();
			console.log(deliv_time);
			var id = $(this).closest(".mui-card").find("#U_id").val();
			var deliv_type = $(this).closest(".mui-card").find("#U_del").val();
			var btnArray = ['取消', '确定'];
			mui.confirm("确认签收吗？确认后将无法更改","提示",btnArray,function(e){
				if (e.index==1) {
					
					/*签收时间只能为发货时间-当前日期之间*/
					
					//ajax接收到的发货时间 时间戳转型
					var optionsJson = '{}';
					var options = JSON.parse(optionsJson);
					var deli_time = deliv_time.replace(/-/g,'/');
					var deli_date = new Date(deli_time);
					
					//当前时间截取年月日
					var Ndate = new Date();
					var thisYear = Ndate.getFullYear();
					var thisMonth = Ndate.getMonth();//月份是从0开始计算
					var thisDay = Ndate.getDate();

					//日期控件
					var dtPicker = new mui.DtPicker({
						type: "date",
						beginDate: new Date(deli_date.getFullYear(), deli_date.getMonth(), deli_date.getDate()),//设置开始日期 
   						endDate: new Date(thisYear, thisMonth, thisDay),//设置结束日期 		
					});
					
					//选择日期并签收
					dtPicker.show(function(rs){
						//获取ajax所需参数
						var unixTime = get_unix_time(rs.text);

						$.ajax({
							type:"POST",
							url:"/received/receivedGoods",
							dataType:"json",
							data:{
								id:id,
								delivery_type:deliv_type,
								receivedTime:unixTime
							},
							success:function(data){
								console.log(data);
								if (data.code == 200) {
									//签收时间显示
									console.log(receiced_Btn);
									receiced_Btn.closest(".mui-card").find("#acceptTime").text(time2Date(unixTime));
			
									receiced_Btn.text("已签收").attr("disabled","disabled");
									
								} else {}

							},
							error:function(data){
								console.log(data);

							},
							complete: function() {

							}

						});
					});
				}	
			});

		});
		
		
		
		/*tabbar页面跳转*/
		mui(".mui-bar-tab").on("tap","#tabbar_with_search",function(){
			location.href = "/search";
		});
		
		mui(".mui-bar-tab").on("tap","#tabbar_with_me",function(){
			location.href = "/users/me";
		});
		
		mui(".mui-bar-tab").on("tap","#tabbar_with_setting",function(){
			location.href = "/returnGoods";
		});
		
		/*回到顶部悬浮按钮事件*/
		$("#float_to_top").on("click",function(){
			$("html,body").animate({scrollTop:0},300);
		});
		$(window).on("scroll",function(){
			window.scrollY > 500?$("#float_to_top").fadeIn(200):$("#float_to_top").fadeOut(200);
		});
		
		

		
});

			
		</script>
		
	</body>
</html>

